@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');


*, body, html{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

textarea:focus, input:focus, button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

.app{
  min-height: 100vh;
  background-color: #1B2838;
}

.pageContent{
  display: flex;
  justify-content: center;
}

.nav{
  background-color: #171A21;
  height:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 35px;
}

.navList{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBtn{
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.navBtn:visited, .navBtn:active{
  color: white;
  text-decoration: none;
}

.navBtn:hover{
  cursor: pointer;
}


#navTitleText{
  color: white;
  font-size: 24px;
  text-decoration: none;
}


.navEnd{
  display: flex;
  align-items: center;
}

#navImage{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 2px solid #47859D;
}


.home{
  width: 100%;
  display: flex;
  justify-content: center;
}

.homeContent{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 40%;
}

.homeContent__title{
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.card{
  margin-top: 5px;
  background-color: white;
  padding: 25px 15px 25px 15px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.shadow-black{
  -webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
}


.homeContent__header-text{
  font-size: 18px;
  line-height: 22px;
}

.text-strong{
  font-weight: bold;
  display: inline;
}

.supportedIds{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.supportedIds__title{
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.supportedIds__list{
  margin-bottom: 25px;
}

.supportedIds__list-item{
  color:#636363;
  font-size: 14px;
  font-weight: 600;
  display: inline;
}

.supportedIds__list-item:not(:last-child){
  margin-right: 10px;
}

.searchInput{
  background-color:#101822;
  color: #9e9e9e;
  height: 30px;
  padding-left: 15px;
  border-radius: 5px;
}

.buttonArea{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.searchButton{
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin-bottom: 25px;
  font-size: 16px;
  background-color:#357097;
  color: #9e9e9e;
  transition: all .2s;
  font-weight: 500;
  text-shadow: 1px 1px 0px #000000;
}

.searchButton:hover{
  cursor: pointer;
  background-color: #CAD7E1;
  color: black;
  text-shadow: none;
}

.separator{
  border-top: 1px solid #8c8b8b;
}

.banned{
  display: inline;
  font-weight: bold;
  color: red;
}

.notBanned{
  display: inline;
  font-weight: bold;
  color:#357097;
}

.results{
  padding: 25px;
}

.results__header{
display: flex;
}

.results__pic{
  height: 150px;
  border-radius: 5px;
}

.results__header-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.results__header-name{
  font-size: 16px;
  font-weight: bold;
}

.results__field{
  display: flex;
}

.results__header-text{
  font-size: 16px;
  width: 40%;
  text-align: left;
  margin-right: 10px;
}

.results__footer{
  margin-top: 15px;
}

.results__footer-text{
  font-size: 16px;
  margin-bottom: 5px;
  width: 25%;
}

.results__footer-result{
  display: inline;
  font-weight: bold;
  background-color: #101822;
  color: #9e9e9e;
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.results__btn-inList{
  padding: 10px 20px;
  background-color: grey;
  color: rgb(58, 58, 58);
  border-radius: 5px;
}

.results__btn-notInList{
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.results__btn-notInList:hover{
  cursor: pointer;
}

.users__title{
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 25px;
}

.users__title-avatar{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.users__title-text{
  
}

.users__ban-text{
  margin-left: 15px;
}

.users__info{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.users__field{
  display: flex;
  justify-content: space-between;
}

.users__text{
  margin-right: 10px;
  margin-bottom: 5px;
}

.users__footer{
  margin-top: 10px;
}

.users__footer-text{
  font-size: 16px;
  margin-bottom: 5px;
  width: 25%;
}

.users__footer-result{
  display: inline;
  font-weight: bold;
  background-color: #101822;
  color: #9e9e9e;
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.deleteBtn{
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.deleteBtn:hover{
  cursor: pointer;
}

.users__notifications-area{
  display: flex;
  flex-direction: column;
}

.users__notifications-title{
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin: 25px 0;
}

.users__notifications-input-div{
  display: flex;
  flex-direction: column;
}

.users__notifications-input{
  width: 80%;
  margin-bottom: 10px;
}

.users__notifications-text{
  font-size: 16px;
  margin-bottom: 5px;
  width: 100%;
}

.users__notifications-btn-invalid{
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: grey;
  color: rgb(58, 58, 58);
}

.users__notifications-btn-valid{
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.users__notifications-btn-test{
  padding: 10px 20px;
  background-color: #357097;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: bold;
}
