@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');


*, body, html{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.app{
  height: 100vh;
}

.pageContent{
  display: flex;
  justify-content: center;
}

.nav{
  background-color: #171A21;
  height:5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 35px;
}

.navList{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#navBtn{
  height: 30px;
  width: 150px;
}

#navTitle{
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
}

.navEnd{
  display: flex;
  align-items: center;
}

#navImage{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.home{
  background-color: #1B2838;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}